[submodule "autoliv_util"]
	path = autoliv_util
	url = https://Autoliv@dev.azure.com/Autoliv/otc-engineering-product_reliability/_git/autoliv_util
[submodule "autoliv_tk"]
	path = autoliv_tk
	url = https://Autoliv@dev.azure.com/Autoliv/otc-engineering-product_reliability/_git/autoliv_tk
